{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Opinionytics</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <style>
    body {
      padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index">Opinionytics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='analyze'>Analyze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='signup'>Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='signin'>Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='history'>History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Services</h1>
        <p>Opinionytics services</p>
      </div>

      <div class="card-group row" style="margin: 0 auto;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Newspapers</h5>
            <p class="card-text">
              Analyze the latest newspaper out there
            </p>
            <script src="http://widgets.trovespace.webfactional.com/assets/widgets/application.js" type="text/javascript"></script>
            <div data-state='any' data-heading='Opinionytics' data-background='#FFFFFF' data-text='#777777' data-title='#333333' data-subtitle='#777777'
              data-border='#CDCDCD' data-width='300' data-root='http://widgets.trovespace.webfactional.com/' data-type='navigator'
              data-view='title' data-height='400' data-ids='35' role="trove-widget">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Articles</h5>
            <p class="card-text">
              Analyze the newest articles out there
            </p>
            <blockquote class="embedly-card">
              <h4>
                <a href="https://medium.com/topic/technology">Technology - Medium</a>
              </h4>
              <p>Technology on Medium: The download.</p>
            </blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>

</html>